In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("unemployment analysis.csv", delimiter=",")

In [5]:
df.dtypes

Country Name     object
Country Code     object
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

In [6]:
df.describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,...,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000
mean,7.278000,7.626340,8.070766,8.246043,8.333915,8.494894,8.394043,8.441064,8.568043,8.438979,...,8.062553,8.086468,7.924340,7.818426,7.720979,7.485404,7.247404,7.087362,8.278809,8.219660
std,6.013749,6.296617,6.335855,6.243778,6.330822,6.358431,6.206845,6.133045,6.088361,6.126318,...,5.780173,5.832019,5.699899,5.574759,5.456333,5.318381,5.240429,5.129146,5.470319,5.506914
min,0.300000,0.340000,0.410000,0.470000,0.500000,0.560000,0.540000,0.560000,0.570000,0.580000,...,0.480000,0.250000,0.200000,0.170000,0.150000,0.140000,0.110000,0.100000,0.210000,0.260000
25%,2.945000,3.140000,3.700000,3.890000,3.945000,3.995000,4.020000,4.085000,4.275000,4.070000,...,4.090000,4.245000,4.200000,4.315000,4.310000,4.075000,3.875000,3.805000,4.620000,4.750000
50%,5.410000,5.710000,6.030000,6.550000,6.700000,7.050000,6.930000,6.890000,6.690000,6.530000,...,6.450000,6.290000,6.150000,6.080000,6.010000,5.800000,5.620000,5.530000,6.800000,6.580000
75%,9.815000,10.170000,10.895000,11.110000,11.050000,11.405000,11.090000,11.500000,11.845000,11.565000,...,10.655000,10.465000,10.290000,10.080000,9.895000,9.445000,9.060000,8.605000,10.230000,10.245000
max,36.120000,36.390000,36.740000,36.980000,37.340000,38.800000,37.940000,37.160000,36.350000,35.460000,...,31.020000,29.000000,28.030000,27.690000,26.540000,27.040000,26.910000,28.470000,29.220000,33.560000

In [7]:
dffinal = pd.DataFrame()
for y in df.columns[ 2 :  ]:
    dftemp  = df.loc[ :  , ['Country Name','Country Code', y] ]
    dftemp['Year'] = y
    dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]
    
    dffinal = pd.concat([dffinal, dftemp])

In [9]:
dffinal

                    Country Name Country Code  Year  Value
0    Africa Eastern and Southern          AFE  1991   7.80
1                    Afghanistan          AFG  1991  10.65
2     Africa Western and Central          AFW  1991   4.42
3                         Angola          AGO  1991   4.21
4                        Albania          ALB  1991  10.31
..                           ...          ...   ...    ...
230                        Samoa          WSM  2021   9.84
231                  Yemen, Rep.          YEM  2021  13.57
232                 South Africa          ZAF  2021  33.56
233                       Zambia          ZMB  2021  13.03
234                     Zimbabwe          ZWE  2021   5.17

[7285 rows x 4 columns]

Index(['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object')

In [8]:
dffinal

                    Country Name Country Code  Year  Value
0    Africa Eastern and Southern          AFE  1991   7.80
1                    Afghanistan          AFG  1991  10.65
2     Africa Western and Central          AFW  1991   4.42
3                         Angola          AGO  1991   4.21
4                        Albania          ALB  1991  10.31
..                           ...          ...   ...    ...
230                        Samoa          WSM  2021   9.84
231                  Yemen, Rep.          YEM  2021  13.57
232                 South Africa          ZAF  2021  33.56
233                       Zambia          ZMB  2021  13.03
234                     Zimbabwe          ZWE  2021   5.17

[7285 rows x 4 columns]

In [52]:
dfcountry = pd.read_csv("country_profile_variables.csv", delimiter=",")

In [55]:
dfcountry

,Country Name,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142,12,84.1,93.4,-99,-99,-99.0,-99,...,9.0,89,41.6,~0.0/1.6,-99,26,-99,-99,-99,-99
225,Western Sahara,NorthernAfrica,266000,553,2.1,110.1,-99,-99,-99.0,-99,...,-99,49,2.7,-99,-99,-99,-99,-99,-99,-99
226,Yemen,WesternAsia,527968,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,22.7/0.9,668,12,72.0/46.5,92.5/34.1,2.99,-99
227,Zambia,EasternAfrica,752612,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,4.5/0.3,374,26,85.6/51.3,55.6/35.7,3.96,-99
228,Zimbabwe,EasternAfrica,390757,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,12.0/0.8,482,30,97.0/67.3,49.3/30.8,6.00,-99

In [15]:
dfend = pd.DataFrame()

In [58]:
dftemp2 = dfcountry.loc[ :  , ['Country Name', 'Region', 'Surface area (km2)', 'Population in thousands (2017)'] ]

In [69]:
dftemp2

,Country Name,Region,Surface area (km2),Population in thousands (2017)
0,Afghanistan,SouthernAsia,652864,35530
1,Albania,SouthernEurope,28748,2930
2,Algeria,NorthernAfrica,2381741,41318
3,American Samoa,Polynesia,199,56
4,Andorra,SouthernEurope,468,77
...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142,12
225,Western Sahara,NorthernAfrica,266000,553
226,Yemen,WesternAsia,527968,28250
227,Zambia,EasternAfrica,752612,17094
228,Zimbabwe,EasternAfrica,390757,16530

In [72]:
dfend = dffinal.merge(dftemp2, how='left')

In [73]:
dfend

,Country Name,Country Code,Year,Value,Region,Surface area (km2),Population in thousands (2017)
0,Africa Eastern and Southern,AFE,1991,7.80,NaN,NaN,NaN
1,Afghanistan,AFG,1991,10.65,SouthernAsia,652864,35530.0
2,Africa Western and Central,AFW,1991,4.42,NaN,NaN,NaN
3,Angola,AGO,1991,4.21,MiddleAfrica,1246700,29784.0
4,Albania,ALB,1991,10.31,SouthernEurope,28748,2930.0
...,...,...,...,...,...,...,...
7280,Samoa,WSM,2021,9.84,Polynesia,2842,196.0
7281,"Yemen, Rep.",YEM,2021,13.57,NaN,NaN,NaN
7282,South Africa,ZAF,2021,33.56,SouthernAfrica,1221037,56717.0
7283,Zambia,ZMB,2021,13.03,EasternAfrica,752612,17094.0
7284,Zimbabwe,ZWE,2021,5.17,EasternAfrica,390757,16530.0